body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex: 1;
    }
}

.container {
    width: min(1200px, 95vw);
    margin-inline: auto;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.85);
    color: whitesmoke;

    * {
        color: inherit;
    }

    nav {
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        & > * {
            display: block;
        }
    }

    ul, ol {
        display: flex;
        gap: .75em;
    }

    li {
        align-content: center;
    }

    a {
        display: inline-block;
        height: 100%;
        padding: 0 .5em;
        align-content: center;
        text-decoration: none;
        text-transform: capitalize;
        transition: background .25s ease-in-out;

        &:hover {
            background: rgba(245, 245, 245, 0.25);
        }
    }
}

footer {
    padding: 1rem 0;
    text-align: center;
}

section {
    margin-top: 2rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 1.5rem clamp(2rem, 5vw, 4rem);

    @media (max-width: 80ch) {
        grid-template-columns: 1fr;
    }
}

.lang-button {
    height: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter .25s ease-in-out,
                transform .1s ease-out;

    &.active,
    &:hover {
        filter: grayscale(0%);
    }

    &:hover {
        transform: scale(1.05);
    }

    img {
        max-height: 100%;
    }
}

.floof-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    img {
        max-height: 67.5vh;
    }
}