:root {
    --color-sage: #a5b68d;
    --color-peach: #eCdfcc;
    --color-beige: #fcfaee;
    --color-orange: #da8359;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-peach);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    main {
        flex: 1;
    }
}

h1, h3, h4 {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 3.9rem;
    margin: 1rem 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2rem;
}

a {
    color: inherit;
    transition: color .1s ease-in-out;

    &:active,
    &:hover {
        color: var(--color-orange);
    }
}

main p {
    font-size: larger;
    margin-bottom: 1rem;
}

header,
section,
article {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.container {
    width: min(1200px, 95vw);
    margin-inline: auto;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.85);
    color: var(--color-beige);

    * {
        color: inherit;
    }

    nav {
        height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        & > * {
            display: block;
        }
    }

    ul, ol {
        display: flex;
        gap: .75em;
    }

    li {
        align-content: center;
    }

    a {
        display: inline-block;
        height: 100%;
        padding: 0 .5em;
        align-content: center;
        text-decoration: none;
        text-transform: capitalize;
        transition: background .25s ease-in-out;

        &:active,
        &:hover {
            background: rgba(245, 245, 245, 0.25);
            color: inherit;
        }

        &.active {
            font-weight: 900;
        }
    }
}

.hero {
    width: 100%;
    aspect-ratio: 3 / 2;
    max-height: 70vh;
    overflow: hidden;
    position: relative;
    background-color: black;
    z-index: -1;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}

#app > .hero:first-child {
    margin-top: -4rem;
}

footer {
    padding: 1rem 0;
    text-align: center;
    background-color: var(--color-sage);

    a:active,
    a:hover {
        color: var(--color-beige);
    }
}

section {
    margin-top: 2rem;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 1.5rem clamp(2rem, 5vw, 4rem);

    @media (max-width: 80ch) {
        grid-template-columns: 1fr;
    }

    ul a {
        font-size: larger;
    }
}

.lang-button {
    height: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter .25s ease-in-out,
                transform .1s ease-out;

    &.active,
    &:hover {
        filter: grayscale(0%);
    }

    &:hover {
        transform: scale(1.05);
    }

    img {
        max-height: 100%;
    }
}

.floof-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    img {
        max-height: 67.5vh;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "text img";
    gap: 1.5rem 3rem;

    .card-text {
        grid-area: text;
    }

    .card-img {
        grid-area: img;
    }

    h3 {
        color: var(--color-sage);
    }
}

.card-container :nth-child(odd) .card {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img text";

    h3 {
        color: var(--color-orange);
    }
}

.card,
.card-container :nth-child(odd) .card {
    @media (max-width: 80ch) {
        grid-template-columns: 1fr;
        grid-template-areas: "text" "img";
    }
}

.species-container {
    margin-bottom: 3rem;
}

.species-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "text img";
    gap: 1.5rem 3rem;

    @media (max-width: 90ch) {
        grid-template-columns: 1fr;
        grid-template-areas: "text" "img";
    }

    .card-text {
        grid-area: text;

        header {
            margin-bottom: unset;
            color: var(--color-orange);

            small,
            small * {
                color: black;
            }
        }

        table th,
        table td {
            text-align: left;
            padding: .25em .75em .25em 0;

            @media (min-width: 120ch) {
                font-size: larger;
            }
        }

    }

    .card-img {
        grid-area: img;
    }
}

.big-button {
    text-align: center;
    margin: 2rem 0 7rem 0;

    a {
        font-size: 1.5rem;
        display: inline-block;
        padding: 2rem 3rem;
        border-radius: 3rem;
        background-color: var(--color-sage);
        text-decoration: none;
        transition: background-color .2s ease-in-out;

        &:active,
        &:hover {
            color: inherit;
            background-color: var(--color-orange);
        }
    }
}